---
---
body {
    font-size: 100%;
    /* font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; */
    /* font-family: "SF Mono", Roboto Mono, "Roboto Mono", Consolas, monospace; */
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Roboto", "Roboto Mono";
    line-height: 1.5;
    /* text-align: justify; */
    text-align: left;
}

.main {
    max-width: 700px;
    margin: 50px auto 50px;
}

/* Header styling */

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

/* Image styling */

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* Code styling */
code, pre {
    font-size: 90%;
    font-family: "SF Mono", Roboto Mono, "Roboto Mono", Consolas, monospace;
    word-wrap: normal;
    overflow-x: auto;
    white-space: pre;
    background-color: #eee;
    /*padding: 2px 2px 2px 2px;*/
    /*padding-left: 0;*/
}

pre {
    white-space:pre-line;
    border:1.0px solid lightblue;
    padding: 1.1em;
    /*padding-left: 0.5;*/
    margin: 0em;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;	
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* Hyperlink styling */

a:link {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #000;
}

a:hover {
    /* color: #fff; */
    /* background-color: #000; */
    color: #000;
    background-color: #d2e1dd;
    text-decoration: none;
}

hr {
    margin: 25px auto 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.75rem 0;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}
