---
---
/* Dark Flare pygments theme by Sascha Wagner
 * https://github.com/sashw/pygments-dark-flare */

.highlight { background-color: #252525; color: #f8f8f8; }
.highlight .hll { background-color: #404040 }
.highlight .n { color:  #f8f8f8; }  /* Name */
.highlight .k {  /* Keyword */
  color: #ed9d13; font-weight: normal;
}
.highlight .l {  }  /* Literal */
.highlight .g {  }  /* Generic */
.highlight .err {  }  /* Error */

.highlight .nx {  /* Name.Other */
  color: white;
}
.highlight .p {  /* Punctuation */
  color: white;
}
.highlight .o {  /* Operator */
  color: #ccb7ad;
}
.highlight .c,   /* Comment */
.highlight .cm,  /* Comment.Multiline */
.highlight .c1 {  /* Comment.Single */
  color: #777;
  font-style: regular;
}
.highlight .bp,  /* Name.Builtin.Pseudo */
.highlight .cp,  /* Comment.Preproc */
.highlight .cs,  /* Comment.Special */
.highlight .gh {  /* Generic.Heading */
  color: #d9411e;
}
.highlight .cp,  /* Comment.Preproc */
.highlight .cs {  /* Comment.Special */
  font-weight: bold;
}
.highlight .cs {  /* Comment.Special */
  font-style: regular;
}
.highlight .gd {  /* Generic.Deleted */
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {  /* Generic.Deleted */  /* Other */
  background-color: #faa;
}
.highlight .ge {  /* Generic.Emph */
  font-style: regular;
}
.highlight .gr,  /* Generic.Error */
.highlight .gt {  /* Generic.Traceback */
  color: #a00;
}
.highlight .gi {  /* Generic.Inserted */
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {  /* Generic.Inserted */  /* Other */
  background-color: #afa;
}
.highlight .go {  /* Generic.Output */
  color: #888;
}
.highlight .gp,  /* Generic.Prompt */
.highlight .nn {  /* Name.Namespace */
  color: #78a3b0;
}
.highlight .gs {  /* Generic.Strong */
  font-weight: bold;
}
.highlight .gu {  /* Generic.Subheading */
  color: #aaa;
}
.highlight .kc,  /* Keyword.Constant */
.highlight .kd,  /* Keyword.Declaration */
.highlight .kp,  /* Keyword.Pseudo */
.highlight .kr,  /* Keyword.Reserved */
.highlight .kt {  /* Keyword.Type */
  font-weight: bold;
}
.highlight .kn { color: #e1c18d; }  /* Keyword.Namespace */
.highlight .nc,  /* Name.Class */
.highlight .kt {  /* Keyword.Type */
  color: #cc7832;
}
.highlight .na {  /* Name.Attribute */
  color: #ffc66d;
}
.highlight .no,  /* Name.Constant */
.highlight .ni,  /* Name.Entity */
.highlight .nv,  /* Name.Variable */
.highlight .vc,  /* Name.Variable.Class */
.highlight .vg,  /* Name.Variable.Global */
.highlight .vi {  /* Name.Variable.Instance */
  color: #9876aa;
}
.highlight .nb {  /* Name.Builtin */
  color: #6ab825;
}
.highlight .ne {  /* Name.Exception */
  color: #900;
  font-weight: bold;
}
.highlight .nf {  /* Name.Function */
  color: #6a8759;
}
.highlight .nt {  /* Name.Tag */
  color: #ffc66d;
}
.highlight .ow {  /* Operator.Word */
  font-weight: bold;
}
.highlight .w {  /* Text.Whitespace */
  color: #bbb;
}
.highlight .m,  /* Literal.Number */
.highlight .mf,  /* Literal.Number.Float */
.highlight .mh,  /* Literal.Number.Hex */
.highlight .mi,  /* Literal.Number.Integer */
.highlight .mo,  /* Literal.Number.Oct */
.highlight .il,  /* Literal.Number.Integer.Long */
.highlight .ld {  /* Literal.Date */
  color: #0086b3;
}
.highlight .s,  /* Literal.String */
.highlight .sb,  /* Literal.String.Backtick */
.highlight .s1,  /* Literal.String.Single */
.highlight .sx,  /* Literal.String.Other */
.highlight .si,  /* Literal.String.Interpol */
.highlight .sh,  /* Literal.String.Heredoc */
.highlight .se,  /* Literal.String.Escape */
.highlight .s2,  /* Literal.String.Double */
.highlight .sd,  /* Literal.String.Doc */
.highlight .sc {  /* Literal.String.Char */
  color: #cc7832;
}
.highlight .sr {  /* Literal.String.Regex */
  color: #ed8732;
}
.highlight .ss {  /* Literal.String.Symbol */
  color: #ed8732;
}
