<!-- <footer>
  <hr>
  <p>
    Doug Davis is a grad student at 
    <a href="https://wwww.duke.edu">Duke</a>.
    For updates, follow him on 
    <a href="https://github.com/drdavis">GitHub</a>.
    <a href="https://twitter.com/_ddavis_">Twitter</a> or 
  </p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog.html">More posts</a></li>
    <li><a href="/feed.xml">Subscribe with rss</a></li>
  </ul>
</footer>
-->

<footer>
  <hr>
  <p>
    <center>
      <a href="/" style="background-color: transparent;"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
      &ensp; &ensp; <a href="https://github.com/drdavis" style="background-color: transparent;"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      &ensp; &ensp; <a href="https://twitter.com/_ddavis_" style="background-color: transparent;"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    </center>
  </p>
</footer>
