@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Roboto+Mono&family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Recursive', 'Liberation Sans', Arial, sans-serif;
    background-color: #fffaf7;
    line-height: 1.8;
}

main {
    max-width: 78ch;
    padding: 2ch;
    margin: auto;
}

body {
    background: #282828;
    color:      #ebdbb2;
}

header {
    margin-bottom: 1.25rem;
}

h1, h2 {
    font-family: 'Recursive';
    font-size: 1.75em;
    margin-bottom: .25rem;
}

code {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.0em;
}

pre {
    font-family: 'Ubuntu Mono', monospace;
    overflow-x: auto;
    padding: 0.5ch;
    border-radius: 10px;
    border: 2px solid #d79921;
    padding: 10px;
    scrollbar-width: none;
}

pre::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#fn {
    font-size: 85%;
}

::selection {
    background: #d3869b;
}

a, a:visited {
    text-decoration: none;
    color: #d79921;
}

a:hover {
    text-decoration: underline;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline;
}

hr {
    border-top: 1px solid  #d79921;
    margin-top: 2rem;
}
