@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    font-family: Liberation Sans, Arial, sans-serif;
    background-color: #fffaf7;
    line-height: 1.5;
}
main {
    max-width: 78ch;
    padding: 2ch;
    margin: auto;
}

body {
    background: #282828;
    color:      #ebdbb2;
}

header {
    margin-bottom: 1.5rem;
}

h1 {
    margin-bottom: .5rem;
}
code {
    font-family: "SF Mono", "Fira Code", "Roboto Mono", monospace;
    font-size: 0.85em;
}
pre {
    font-family: "SF Mono", "Fira Code", "Roboto Mono", monospace;
    overflow-x: auto;
    padding: 0.5ch;
    border-radius: 10px;
    border: 2px solid #d79921;
    padding: 10px;
    scrollbar-width: none;
}

pre::-webkit-scrollbar {
    width: 0;
    height: 0;
}

hr {
    margin-top: 2rem;
}
#fn {
    font-size: 85%;
}

::selection {
    background: #d3869b;
}

a, a:visited {
    text-decoration: none;
    color: #d79921;
}

a:hover {
    text-decoration: underline;
}

#menu ul {
    list-style: none;
}
#menu li {
    display: inline;
}
