@font-face {
    font-family: '0xProto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/0xProto-Regular.woff2') format('woff2');
    /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}

@font-face {
    font-family: '0xProto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/0xProto-Italic.woff2') format('woff2');
    /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}

/* html { */
/*   max-width: 38rem; */
/*   padding: 2rem; */
/*   margin: auto; */
/* } */

html {
    min-width: 20em;
    max-width: 80ch;
    padding: 2ch;
    margin: auto;
}

body {
    font-family: '0xProto', 'Liberation Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
    background: #282828;
    color:      #ebdbb2;
}

header {
    margin-bottom: 1.25rem;
}

h1, h2 {
    font-family: '0xProto', 'Liberation Sans', Arial, sans-serif;
    font-size: 1.80em;
    margin-bottom: .25rem;
}

code {
    font-family: '0xProto', monospace;
    background:  #32302f;
    color:       #d5c481;
    font-size:   1.0em;
    padding: 3px;
}

tt {
    font-family: '0xProto', monospace;
}

pre {
    font-family: '0xProto', monospace;
    overflow-x: auto;
    padding: 0.5ch;
    border-radius: 10px;
    border: 2px solid #d79921;
    padding: 10px;
    scrollbar-width: none;
    font-size: 1.0em;
}

pre code {
     background: #282828; */
/*     color:      #ebdbb2; */
}

pre::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* ::selection { */
/*     background: #d3869b; */
/* } */

a, a:visited {
    text-decoration: none;
    color: #d79921;
}

a:hover {
    text-decoration: underline;
    /* background-color: #191919; */
    /* padding: 3px 3px; */
    /* border-radius: 5px; */
}

hr {
    border-top: 1px solid  #d79921;
    margin-top: 2rem;
}

.navbar {
    /* background-color: #333; /\* Background color for the navbar *\/ */
    text-align: center; /* Align the navbar to the right */
    font-family: '0xProto', 'Liberation Sans', Arial, sans-serif;
    font-size: 1.3em;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between navbar items */
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.footnote-definition {
    font-size: 0.8em; /* Adjust the font size as desired */
    line-height: 1.2; /* Adjust the line height as desired */
}

.footnote-definition p {
    margin: 0; /* Remove default paragraph margins */
}
