{% extends "base.html" %}
{% block title %}{{config.title}} | About {% endblock title %}
{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<div class="content">
  <article>
    My name is Doug. Training to be a particle physicist helped me
    realize that I wanted to engineer software for a living. My first
    post-academia position was with Anaconda. I worked as an open
    source software engineer (in the PyData universe, primarily around
    the Dask and awkward array ecosystems). I currently work for Visa.
    I'm an ML engineer on a team that is building a platform for
    real-time, low latency inferencing. The content on this website
    includes only my views and no one else's. My posts are mostly
    about software, data, or technical things I've encountered over
    the years. Some of the software I write is on GitHub (my username
    is <tt>douglasdavis</tt>). I live in Austin, Texas, with my wife,
    Kristie, and our two amazing kids. You can reach me by
    email: <code>ddavis@[this-site-domain]</code>.
  </article>
</div>
{% endblock content %}
