{% extends "base.html" %}
{% block title %}{{config.title}} | About {% endblock title %}
{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<div class="content">
  <article>
    My name is Doug Davis. Training to be a particle physicist helped
    me realize that I wanted to engineer software and work with data
    for a living. Some of the software I write is on GitHub (link to
    my profile above). You can reach me by
    email: <code>ddavis@[blogurl]</code>.
  </article>
</div>
{% endblock content %}
