{% extends "base.html" %}
{% block title %}{{config.title}} | About {% endblock title %}
{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<div class="content">
  <article>
    My name is Doug. Training to be a particle physicist helped me
    realize that I wanted to engineer software and work with data for
    a living. My posts are mostly about software, data, or technical
    things I've encountered over the years. Some of the software I
    write is on GitHub (link to my profile above). I live in Austin,
    TX with my wife, Kristie, and our joyful little boy, Oliver. You
    can reach me by email: <code>ddavis@[this-site-url]</code>.
  </article>
</div>
{% endblock content %}
