<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />


    {% if page and page.extra.katex %}
    <link rel="stylesheet" href="/katex/katex.min.css">
    <script defer src="/katex/katex.min.js"></script>
    <script defer src="/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    {% endif %}


    <meta charset="utf-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>

  <body>
    <div class="navbar">
      <ul>
        <li><a href="{{ get_url(path='/') }}">home</a></li>
        <li><a href="{{ get_url(path='@/blog/_index.md') }}">posts</a></li>
        <li><a href="{{ get_url(path='@/about/_index.md') }}">about</a></li>
        <li><a href="https://github.com/douglasdavis">github</a></li>
        <li><a href="https://linkedin.com/in/douglasrdavis">linkedin</a></li>
      </ul>
    </div>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
  </body>
</html>
