<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if section %}
<title>{{ section.title }} | ddavis.io</title>
{% elif page %}
<title>{{ page.title }} | ddavis.io</title>
{% else %}
<title>ddavis.io</title>
{% endif %}

<!-- <link rel="stylesheet" href="/fonts.css" /> -->
<link rel="stylesheet" href="/style.css" />

<link rel="stylesheet" href="/katex/katex.min.css">
<script defer src="/katex/katex.min.js"></script>
<script defer src="/katex/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{get_url(path="atom.xml", trailing_slash=false)}}">
{% endblock %}
