{% extends "base.html" %}

{% block content %}
<header>
  <div class="center">
    <a href="{{get_url(path="@/blog/_index.md")}}" class="quiet-link">
      <div class="title monospace">
      </div>
    </a>
  </div>

  <div class="center nav">
    <a href="/">home</a> |
    <a href="{{get_url(path="@/blog/_index.md")}}">blog</a>
  </div>
</header>

<div class="content">
  <article>
    My name is Doug Davis. Training to be a particle physicist helped
    me realize that I wanted to engineer software and work with data
    for a living. Some of the that software I write is on GitHub
    (where my username
    is <a href="https://github.com/douglasdavis">douglasdavis</a>).
    You can reach me by email: <code>ddavis@[blogurl]</code>.
  </article>
</div>
{% endblock content %}
