<footer>
  <main>
    <center>
      <a href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i></a> |
      <a href="{{ .Site.BaseURL }}about"><i class="fas fa-address-card"></i></a> |
      <a href="{{ .Site.BaseURL }}tags"><i class="fas fa-tags"></i></a> |
      <a href="mailto:Doug Davis <ddavis@ddavis.io>"><i class="fas fa-paper-plane"></i></a> |
      <a href="https://github.com/douglasdavis"><i class="fab fa-github"></i></a> |
      <a href="https://gitlab.cern.ch/ddavis"><i class="fab fa-gitlab"></i></a> |
      <a href="https://linkedin.com/in/douglasrdavis"><i class="fab fa-linkedin-in"></i></a> |
      <a href="https://twitter.com/_ddavis_"><i class="fab fa-twitter"></i></a> |
      <a href="{{ .Site.BaseURL }}index.xml"><i class="fas fa-rss"></i></a>
    </center>
  </main>
</footer>
</br>
</br>
