<footer>
  <center>
    <p style="font-size:1.35em;padding-bottom:1cm">
      <a href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i></a> <stong>&#8286;</strong>
<a href="{{ .Site.BaseURL }}about"><i class="far fa-address-card"></i></a> <stong>&#8286;</strong>
<a href="{{ .Site.BaseURL }}tags"><i class="fas fa-tags"></i></a> <stong>&#8286;</strong>
<a href="mailto:ddavis@ddavis.io"><i class="fas fa-paper-plane"></i></a> <stong>&#8286;</strong>
<a href="https://github.com/douglasdavis"><i class="fab fa-github"></i></a> <stong>&#8286;</strong>
<a href="https://gitlab.cern.ch/ddavis"><i class="fab fa-gitlab"></i></a> <stong>&#8286;</strong>
<a href="https://www.linkedin.com/in/douglasrdavis"><i class="fab fa-linkedin-in"></i></a> <stong>&#8286;</strong>
<a href="https://twitter.com/_ddavis_"><i class="fab fa-twitter"></i></a>
</p>
</center>
</footer>
</br>
