{{ define "main" }}
<main>
  <article>
    <p align="right"><a href="../..">home</a></p>
    <center>
      <h1>{{ .Title }}</h1>
    </center>
    <center>
      <time>{{ .Date.Format "2006 January 02" }}</time>
    </center>
    <p align="center">
      tags:
      {{ with .Params.tags }}
      {{ range . }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
      {{ end }}
    </p>
    <hr>
    <div>
      {{ .Content }}
    </div>
    <p style="font-size:1.25em;text-align:center">
      {{ if .Prev }}
      <a href="{{ .Prev.RelPermalink }}">&#x21E6;</a>
      {{ end }}
      |
      {{ if .Next }}
      <a href="{{ .Next.RelPermalink }}">&#x21E8;</a>
      {{ end }}
    </p>
  </article>
</main>
{{ end }}
