{{ define "main" }}
<main>
  <article>
    <p align="right"><a href="../..">home</a></p>
    <center>
      <h1>{{ .Title }}</h1>
    </center>
    <center>
      <time>{{ .Date.Format "2006 January 02" }}</time>
    </center>
    <ul id="menu" align="right">
      <li>tags:</li>
      {{ with .Params.tags }}
      {{ range . }}
      <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    <div>
      {{ .Content }}
    </div>
    <p style="font-size:1.25em;text-align:center">
    {{ if .Prev }}
    <a href="{{ .Prev.RelPermalink }}">  &lArr;  </a>
    {{ end }}
    |
    {{ if .Next }}
    <a href="{{ .Next.RelPermalink }}">  &rArr;  </a>
    {{ end }}
      </p>
  </article>
</main>
{{ end }}
